<!--
  Generated template for the SinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngFor="let items of results">{{results[0].ch_title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
    <ion-item *ngFor="let items of results">
        {{items.ch_title}}
     
        <ion-badge item-end> {{items.views}}</ion-badge>
      </ion-item>



      <ion-card *ngFor="let items of results">
          <img src='https://cdn.choufplus.com/videos/{{items.vkey}}/thumbs/240/{{items.vkey}}.jpg'>
          <ion-card-content>
            <ion-card-title>
                {{items.ch_title}}
              </ion-card-title>
            <p>
                {{items.vtitle}}
            </p>

            <p>
                {{items.publish_datetime}}
            </p>
          </ion-card-content>
        </ion-card>

</ion-content>
